.card-title{
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;
}
.link{
    cursor: pointer;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    color: black;
    text-decoration-line: none;
    text-shadow: 4px 8px #8c8d8f;
}
.link:hover{
    color:rgb(7, 3, 77);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:800;
    font-size:0.9rem;
    text-shadow:none;
}
.btn-login{
    background: transparent;
    cursor: pointer;
    border: 0.2vw rgb(65, 65, 155) solid;
    border-radius: 0px 1.5vw 0px 1.5vw;
    padding: 0.5vw;
    font-size: 1.2rem;
    font-weight:500;
    font-family: initial;
    box-shadow: 2px 5px 9px #646464;
}
.btn-login:hover{
    background: rgb(65, 65, 155);
    color:white;
    font-size: 1.2rem;
    font-size: 800;
    font-family:initial;
    box-shadow: none;
}
