body {
    background-image: url('../../Recursos/img/luxury-abstract-banner-background-modern-geometric-shapes-an-d-gold-line-art-wallpaper-design-for-website-prints-cover-backdrop-wall-art-and-wall-decoration-vector.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

h1 {
    font-family: "Avant Garde",
        Avantgarde,
        "Century Gothic",
        CenturyGothic,
        "AppleGothic",
        sans-serif;
    font-size: 2.8em;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}

h1.elegantshadow {
    color: black;
    letter-spacing: .15em;
    text-shadow:
        1px -1px 0 #a8a7a7,
        -1px 2px 1px #a8a7a7,
        -2px 4px 1px #a8a7a7,
        -3px 6px 1px #a8a7a7,
        -4px 8px 1px #a8a7a7,
        -5px 10px 1px #a8a7a7,
        -6px 12px 1px #a8a7a7,
        -7px 14px 1px #a8a7a7,
        -8px 16px 1px #a8a7a7
}

.txt-sub {
    font-size: 2.5rem !important;
    font-family: ui-sans-serif !important;
    color: black;
    text-shadow: -20px 0px 7px rgb(0, 0, 0);
}

.word {
    margin: auto;
    color: rgb(0, 0, 0);
    font: 700 normal 2.5em 'tahoma';
    text-shadow: 5px 2px #8c8d8f, 2px 4px #8c8d8f, 3px 5px #8c8d8f;
}

h1 {
    text-align: center;
}

.animation {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    letter-spacing: 1px;
    color: #fff;
    display: inline-block;
    animation: fadeIn 1.5s forwards;
    opacity: 0;
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.first {
    display: inline-block;
    animation: firstSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    color:black;
    z-index: 1;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.oh {
    display: inline-flex;
    overflow: hidden;
}

.second {
    animation: secondSpan 1.5s forwards cubic-bezier(0.785, 0.135, 0.15, 0.86);
    font-weight: 100;
    color:#333;
    z-index: -1;
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 5px 2px #8c8d8f, 2px 4px #8c8d8f, 3px 5px #8c8d8f;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes firstSpan {
    0% {
        transform: translateX(50%);
    }

    60% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes secondSpan {
    0% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(-0%);
    }
}