body {
    background: url('../../Recursos/img/abstract-white-background-with-steel-lines-blank-web-template-postcard-for-advertising-vector.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.card-title {
    color: black;
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
        1px 6px 1px #919191,
        1px 18px 6px rgba(16, 16, 16, 0.4),
        1px 22px 10px rgba(16, 16, 16, 0.2),
        1px 25px 35px rgba(16, 16, 16, 0.2),
        1px 30px 60px rgba(16, 16, 16, 0.4);
}

@media screen and (max-width: 850px) {
    .card-title {
        font-size: 2em;
    }
}

@media screen and (max-width: 550px) {
    .card-title {
        font-size: 1.5em;
    }
}

.txt {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2rem;
}